html {
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}
.main {
    margin: 0 auto;
    padding-top: 64px;
    width: 94%;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

h3 {
    margin-bottom: 1rem;
}
textarea {
    margin-top: 8px;
}
.jsonString {
    height: 270px;
}
.map {
    height: 65px;
}
pre > code {
    white-space: pre-wrap;
    margin-left: 0;
    border-color: #D1D1D1;
}
